body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

.weatherApp {
  margin: 30px auto;
  padding: 0px 30px;
  max-width: 500px;
  background-image: url(../image/Sky1.jpg);
  background-position: center;
  background-size: 810px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 20px;
}

#header {
  margin: 5px 0px;
  padding: 5px 0px;
}

h1 {
  font-weight: 800;
  line-height: 48px;
  color: #448aff;
  font-size: 40px;
  text-align: left;
}

h3 {
  font-weight: 200;
  line-height: 48px;
  margin: 0;
  color: black;
  font-size: 20px;
  text-align: left;
}
.temp {
  font-weight: 1000;
  line-height: 48px;
  margin: 0;
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 55px;
  color: #448aff;
  padding: 0 0 24px;
}

.unit {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  font-weight: 800;
}

.form-group {
  position: relativ;
  top: -10px;
}

#icon {
  color: #006ec5;
  font-size: 60px;
  padding-top: 10px;
  background-color: transparent;
  padding: 10px 10px;
}

.description {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  font-weight: 800;
}

.active {
  color: #006ec5;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.fa-wind,
.fa-tint {
  color: #448aff;
  font-size: 30px;
  position: relative;
  bottom: 50px;
  right: -50px;
}

.mb-3 {
  position: relative;
  bottom: 20px;
  background-color: transparent;
  border: ;
}
.card-body {
  font-size: 30px;
  padding: 0px 0px;
  position: relative;
  right: -50px;
  bottom: 40px;
}

.btn-primary {
  font-size: 15px;
  position: relative;
  top: -15px;
  right: 25px;
  background-color: #006ec5;
}

.btn-secondary {
  font-size: 16px;
  margin: 10px 0px;
  padding: 5px 5px;
}

.iconForecast {
  position: relative;
  right: 20px;
}

.forecast {
  line-height: 20px;
  font-size: 20px;
  padding: 10px 10px;
  background-color: antiquewhite;
  position: relative;
  right: 20px;
}

.weather-forecast-temp {
  font-size: 11px;
}
.form.form-group {
}

.date {
  text-align: left;
  font-size: 20px;
  position: relative;
  left: 30px;
  font-weight: 200;
}

.linkNetlify {
  display: black;
  display: visited black;
  font-size: 22;
}
